@import '../assets/variables';

:host {
  padding: 40px;

  h1 {
    text-align: center;
    margin-bottom: 60px;
    color: $on-background;
  }

  .d-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;

    app-input {
      margin-bottom: 60px;
    }
  }
}
