$primary: #bb86fc;
$primary-hover: #8858c8;
$primary-active: #572c97;
$primary-variant: #3700b3;
$secondary: #03dac6;
$background: #121212;
$surface: #242424;
$error: #cf6679;
$on-primary: #000;
$on-secondary: #000;
$on-background: #fff;
$on-surface: #fff;
$on-error: #000;
